*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins;
   font-weight: 200;
}
html{
   color: white;
}

body {
   background-color: #121212;
  }

  :root{

     --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
     --border-gradient-onyx: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
     --text-gradient-yellow: linear-gradient(to right, #ffdb70, hsl(35, 100%, 68%));
     --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
     --shadow-1: -4px 8px 24px #00000040;
     --vegas-gold: #ceb15a;
     --fw-400: 400;
     --fw-300: 300;
     --light-gray: #d6d6d6;
     --jet: hsl(0, 0%, 22%);

  }
a {
   text-decoration: none;
   color: white;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Body Contents */

/* fade animation */

.fade-in {
   opacity: 0;
   animation: fadeIn .8s forwards;
 }
 
 @keyframes fadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 
/* ------ */

.seperator{
   width: 100%;
   height: 1px;
   background-color: #383838;
   margin: 16px 0px;
}

.body-container{
   margin: 10px;
   padding: 15px;
   border-radius: 20px;
   background-color: #1e1e1f;
   margin-bottom: 20%;
   border: 2px #333 solid;
}

.header-bar{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 16px 16px 0px 0px;

   background: rgba(255, 255, 255, 0.22);
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(6.1px);
   -webkit-backdrop-filter: blur(6.1px);
   border: 1px solid rgba(255, 255, 255, 0.1);

   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%; 
   background-color: #333;
   text-align: center;
   padding: 10px 0;
   z-index: 5;
}

.header-bar button{
   margin: 10px;
   background-color: transparent;
   border: none;
   color: white;
}

.page-title{
   position: relative;
   padding-bottom: 7px;
}
.page-title::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 30px;
   height: 3px;
   background: #6cb4f4;
   border-radius: 3px;
}

h2 {
   display: block;
   font-size: 1.5em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   unicode-bidi: isolate;
}

.about-picocc{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.about-text p{
   font-weight: 300;
   color: lightgrey;
   line-height: 1.6;
   margin: 15px 0px 15px 0px;
}

h3 {
   font-weight: bold;
}

li{
   list-style: none;
}

.service-item {
   position: relative;
   background: var(--border-gradient-onyx);
   padding: 20px;
   border-radius: 14px;
   box-shadow: var(--shadow-2);
   z-index: 1;
}

.service-item::before {
   content: "";
   position: absolute;
   inset: 1px;
   background: var(--bg-gradient-jet);
   border-radius: inherit;
   z-index: -1;
}

.serivce-list{
   display:  grid;
   grid-template-columns: 1fr;
   gap: 20px;
}

.service-title{
   margin-bottom: 20px;
}

.service-icon-box{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.service-content-box{
   text-align: center;
}

.service-item-title{
   font-weight: 800;
   margin-bottom: 5px;
}


.contacts-list {
   display: grid;
   grid-template-columns: 1fr;
   gap: 16px;
}


.contact-item {
   min-width: 100%;
   display: flex;
   align-items: center;
   gap: 16px;
   font-size: 14px;
}

.contact-item p{
   opacity: 0.6;
}

.footer-icon-box {
   position: relative;
   background: var(--border-gradient-onyx);
   width: 30px;
   height: 40px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   box-shadow: var(--shadow-1);
   z-index: 1;
}

.footer-icon-box::before {
   content: "";
   position: absolute;
   inset: 1px;
   background: var(--bg-gradient-jet);
   border-radius: inherit;
   z-index: -1;
}

.social-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding-bottom: 4px;
   padding-left: 7px;
}


/* Resume Page */

.timeline{
   margin-bottom: 30px;
}

.timeline h3{
   font-size: 16px;
}

.timeline .title-wrapper {
   display: flex;
   align-items: center;
   gap: 15px;
   margin-bottom: 25px;
}

.timeline-item-title {
    font-size: var(--fs-6);
    line-height: 1.3;
    margin-bottom: 7px;
}


.timeline-text {
   color: var(--light-gray);
   font-weight: var(--fw-300);
   line-height: 1.6;    
}

.timeline-list span {
   color: #7fbfff;
   font-weight: var(--fw-400);
   line-height: 1.6;
}

.timeline-item {
   position: relative;
}

.timeline-item:not(:last-child) {
   margin-bottom: 20px;
}

.timeline-item::after {
   content: "";
   position: absolute;
   top: 5px;
   left: -33px;
   height: 6px;
   width: 6px;
   background: var(--text-gradient-yellow);
   border-radius: 50%;
   box-shadow: 0 0 0 4px var(--jet);
}

.timeline-item:not(:last-child)::before {
   content: "";
   position: absolute;
   top: -25px;
   left: -30px;
   width: 1px;
   height: calc(100% + 50px);
   background: var(--jet);
}